<div class="main-container">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <div class="intro mat-headline">
          OOPS!
          <span class="special-characters">E</span>RROR
          <span class="special-characters">4</span>04
          <br>
          <span class="mat-body-2">It only takes one wrong letter to hold back this page, not a nation of millions. Your lucky numbers for today are
            4, 0, 4.</span>
          <br>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="" color="accent">{{'Home' | uppercase}}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
