$primary-color: #2196f3;
$accent-color: #ffeb3b;
$warn-color: #f44336;
$theme-primary-color: #203447;
$theme-secondary-color: #1a232b;
$theme-background-color: #607d8b; // blue grey 500
$theme-background-contrast-color: #78909c; // blue grey 400
$selection-background-color: #90caf9; // All text default selection background color
$selection-color: #cfd8dc; // All text default selection color
$text-color: #cfd8dc; // All text default color
