@import 'src/stylesheets/partials/_mixins';
@import 'src/stylesheets/partials/_colors';

#links {
  color: $accent-color;
  text-decoration: none;
  font-weight: bolder;
}

#links:hover {
  color: $primary-color;
  text-decoration: none;
  font-weight: bolder;
}

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.game-background {
  width: max-content;
  border-radius: 5px;
  padding: 10px;
  background-color: $theme-background-color;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-container {
  display: flex;
  flex-direction: column;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 100px;
  width: 100px;
  background-color: $theme-background-contrast-color;
  border-radius: 5px;
  margin: 7px;
}

.container {
  display: grid;
  grid: {
    gap: 25px;
    template-columns: 1fr;
    auto-rows: auto;
  }
}

@media only screen and (max-width: 768px) {
  @include small-container;
}
